*{
    font-family: "Kumbh Sans", sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
}
body{
    overflow: hidden;
}

.flex-container{
    background-color: hsl(185, 75%, 39%);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.card-container{
    width: 21rem;
    height:23rem ;
    background-color: rgb(249, 249, 250);
    border-radius: 8%;
    box-shadow: 0 5px 10px rgb(0, 0, 0,0.5);
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 102;
}

#photo-section{
    /* background-color: hsl(185, 93%, 62%); */
    background-image: url("images/bg-pattern-card.svg");
    height: 8rem;
    border-radius: 10% 10% 0 0;
    text-align: center;
}

#photo-section > img{
    position: absolute;
    top: 5rem;
    left: 7.5rem;
    border-radius: 50%;
    border: 0.3rem solid white;
}
#mid-section{
    height: 9rem;
    border-bottom: 0.01rem solid hsl(0, 0%, 59%);
    text-align: center;
}

#mid-section-content{
    position: absolute;
    left: 0;
    right: 0;
    margin: 4rem auto 0 auto;
}

#follower-section{
    margin-top: 2rem;
    display: flex;
    align-items: center;
}
#follower-section div{
    display: inline-block;
    flex-grow: 1;
    text-align: center;
}

.bg-top {
    position: absolute;
    top:-70%;
    left: -30%;
    z-index: 101;
  }
  .bg-bottom {
    bottom: -80%;
    position: absolute;
    right: -20%;
    z-index: 101;
    overflow: hidden;
  }

  .attribution {
    position: absolute;
    font-size: 1em;
    text-align: center;
    left: 35%;
    bottom: 0;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }


